
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Home</h2>

<!--<form action="">
    First name <input type="text" name="firstname" placeholder="First name" /><br />
    Last name  <input type="text" name="lastname" placeholder="Last name" /><br />
    Email <input type="text" name="email" placeholder="example@test.com" /><br />

</form>-->
<div class="">
    Organisation <input name="org_name" /> <button class="add_org">ADD</button>
</div>


